body{
    background-color: #1a524e;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input{
width: 50%;
}
#buttons{
    border: 2px solid #123;
    margin: 5px 5px 5px 5px;
    background-color: whitesmoke;
}
#summary{
    background-color: #0b2c2a;
    min-height: 100px;
}
#detail{
    background-color: #597977;
    min-height: 100px;
}
#pageselection{
    border: 1px solid gray;
}
table{
    color: black;
}
.wrap{
    word-wrap: break-word;
    white-space: normal;
    max-width: 200px;
}
figure{
    float:left;
}
.displayedimage { background-color: #597977; }
.displayedimage:hover { background-color: red; }
.displayedimage.green { background-color: white; }