body{
    background-color: #1a524e;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    background-color: whitesmoke;
    color: black;
    border-bottom: 2px solid black;
    font-size: 32px;
}
input{
width: 50%;
}
#buttons{
    border: 2px solid #123;
    margin: 5px 5px 5px 5px;
    background-color: whitesmoke;
}
.selected{
    background-color: #40da55;
}
#summary{

    min-height: 100px;
}
#test{
    width: 250px;
    background-color: #0b2c2a;
}
#detail{
    background-color: #1a524e;
    min-height: 100px;
}
#pageselection{
    border: 1px solid gray;
}
table{
    color: black;
}
thead{
    background-color: white;
}
.dataTables_wrapper{
    background-color: white;
}
.wrap{
    word-wrap: break-word;
    white-space: normal;
    max-width: 200px;
}
figure{
    float:left;
}
.displayedimage { background-color: #597977; }
.displayedimage:hover { background-color: red; }
.displayedimage.green { background-color: white; }
#statslist{
    margin-top: 50px;
    list-style:none;
    
}
#statslist li{
    float: left;
    color: #FFF;
    border:thick rgb(172, 146, 146);
    padding: 10px;
    margin: 5px;
    width: 240px;
    height: 240px;
    text-wrap: normal;
    word-break:break-all;
    background-color: rgb(35, 70, 146);
    position: relative;
}
.statheadline{
    position: inherit;
    display: block;
    text-align: center;
    font-size: 32px;
    word-break:break-word;
}
.statvalue{
    position: inherit;
    display: block;
    top: 50px;
    text-align: center;
    font-size: 56px;
    word-break:break-word;
}
.statvaluesmall{
    font-size: 48px;
}
#wpthistory{
    position: absolute;
    right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: slateblue;
    border: 1px  outset slateblue;
    padding: 5px;
}