body{
    background-color: #0b023f;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    display: inline-grid;
}
input{
min-width: 470px;
}
footer{
    max-width: 1920px;
}
h1{
    color: white;
    border-bottom: 2px solid black;
    font-size: 24px;
}
#containerjobsel{
    background-color: #dbe6e9;
    color: navy;
    margin-top: 3px;
    min-height: 50px;
}
.jobseldata{
    float: left;
}
#selpages{
    min-width: 200px;
    max-width: 90%;
}
#buttons{
    border: 2px solid rgb(38, 113, 189);
    margin: 5px 5px 5px 5px;
    background-color: whitesmoke;
}
button{
    min-height: 44px;
    min-width: 44px;
    color: slateblue;
}
#sbm{
    background-color: #04b42a;
    color: white;
}
#summary{
    background-color: #0b023f;
    min-height: 100px;
}
#test{
    font-size: 80%;
    line-height: 20px;
}
.testinfo{
    padding: 0px 5px 0px 5px;
    border-left: 1px black solid;
    border-right: 1px black solid;
}
#detail{
    background-color: #0b023f;
    min-height: 600px;
}
#pageselection{
    font-size: 80%;
    padding-left: 5px;
    line-height: 20px;
}
table{
    color: black;
}
thead{
    background-color: white;
}
.dataTables_wrapper{
    background-color: white;
}
.wrap{
    word-wrap: break-word;
    white-space: normal;
    max-width: 200px;
}
figure{
    float:left;
}
.displayedimage { background-color: #597977; }
.displayedimage:hover { background-color: red; }
.displayedimage.green { background-color: white; }
#statslist{
    margin-top: 50px;
    list-style:none;
    
}
#statslist li{
    float: left;
    color: #FFF;
    border:thick rgb(172, 146, 146);
    padding: 10px;
    margin: 5px;
    width: 240px;
    height: 240px;
    text-wrap: normal;
    word-break:break-all;
    background-color: rgb(35, 70, 146);
    position: relative;
}
.statheadline{
    position: inherit;
    display: block;
    text-align: center;
    font-size: 32px;
    word-break:break-word;
}
.statvalue{
    position: inherit;
    display: block;
    top: 50px;
    text-align: center;
    font-size: 56px;
    word-break:break-word;
}
.statvaluemedium{
    font-size: 36px;
}
.statvaluesmall{
    font-size: 24px;
}
#wpthistory{
    position: absolute;
    right: 20px;
    font-size: 16px;
    text-decoration: none;
    color: slateblue;
    border: 1px  outset slateblue;
    padding: 5px;
}
td.details-control {
    background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
}
.footerbar{
    margin-top: 20px;
    height: 10px;
    background-color: slateblue;
}
.footeritems {
    display: flex;
    flex-wrap: wrap;
    min-height: 10px;
  }
.footeritems .item {
flex: 1 0 25%;
box-sizing: border-box;
background: #e0ddd5;
color: #171e42;
padding: 10px;
margin: 20px;
min-width: 200px;
max-width: 300px;
}
.item h4{
    margin: auto;
    font-variant: small-caps;
    text-align: center;
}
.footerlinks
{
    margin: auto;
    text-decoration: none;

}
.clear {
    clear: both;
}
.bar-wrap{
    text-align: center;
}
.links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:inline-block;
}
.links li {
    float: left;
    background-color: whitesmoke;
    margin: 5px;
    min-width: 44px;
    min-height: 44px;
    font-size: smaller;
}
.links li a {
    display: block;
    color: slateblue;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.links li a:hover {
    background-color: #445ce2;
    color: white;
}
button:hover {
    background-color: #445ce2;
    color: white;
}
a {
    color: green;
}
a:hover {
    background-color: #7ce26e;
    color: white;
}
a:visited {
    background-color: #6e81e2;
    color: white;
}
@media screen and (max-width: 600px) {
    footer{
        max-width: 600px;
    }
    input{
        min-width: 350px;
        }
    .footeritems { 
        margin-left: 30px;
    }
}
  @media screen and (max-width: 350px) {
    footer{
        max-width: 350px;
    }
    input{
        min-width: 300px;
        }
    .footeritems { 
        margin-left: 10px;
    }
}